<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../script/cadastro.js"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assests/style.css" />
    <title>Cadastre-se</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-logo">
          <p><a href="../index.html">DEVWEB.</a></p>
        </div>
        <!--NAV-LOGO-->
        <div class="nav-menu">
          <ul>
            <li><a href="../index.html" class="link active">Home</a></li>
            <li><a href="sobre.html" class="link">Sobre</a></li>
            <li><a href="endereco.html" class="link">Endereço</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="login.html" class="link">Login</a></li>
          </ul>
        </div>
        <!--NAV-MENU-->
        <div class="nav-menu-btn">
          <i class="bx bx-menu"></i>
        </div>
        <!--NAV-MENU-BTN-->
      </nav>
      <!--NAV-->
      <main>
        <div class="box-form">
          <div class="register-container" id="register">
            <div class="top">
              <h2>Faça seu cadastro</h2>
            </div>
            <form>
              <div class="input-box">
                <label for="name"></label>
                <input
                  type="text"
                  class="input-field"
                  id="name"
                  name="name"
                  placeholder="Nome completo"
                />
                <i class="bx bx-user"></i>
              </div><!--INPUT-BOX-->
              <div class="input-box">
                <label for="lname"></label>
                <input
                  type="text"
                  class="input-field"
                  id="cpf_cnpj"
                  name="cpf_cnpj"
                  placeholder="CPF ou CNPJ"
                />
                <i class="bx bx-user"></i>
              </div><!--INPUT-BOX-->
              <div class="input-box">
                <label for="lname"></label>
                <input
                  type="text"
                  class="input-field"
                  id="email"
                  name="email"
                  placeholder="Email"
                />
                <i class="bx bx-envelope"></i>
              </div><!--INPUT-BOX-->
              <div class="input-box">
                <label for="lname"></label>
                <input type="date"
                class="input-field"
                id="birthday"
                name="birthday"
                placeholder="Nascimento"
                >
                <i class="bx bx-balloon"></i>
              </div><!--INPUT-BOX-->
              <div class="input-box">
                <label for="lname"></label>
                <input type="password"
                class="input-field"
                id="password"
                name="password"
                placeholder="Senha"
                >
                <i class="bx bx-lock-alt"></i>
              </div><!--INPUT-BOX-->
              <div class="label-term">
                <label for="user_type">Concoda com os termos</label>
                <select id="user_type" class="select-op" name="user_type">
                  <option value="1">Sim</option>
                  <option value="0">Não</option>
                </select>
              </div><!--LABEL-TERM-->
              <div class="input-box">
                <input
                  type="button"
                  class="submit"
                  value="Submit"
                  onclick="cadastroUsuario()"
                />
              </div><!--INPUT-BOX-->
            </form>
          </div><!--REGISTER-CONTAINER-->
        </div><!--BOX-FORM-->
      </main>
    </div><!--WRAPPER-->
  </body>
</html>
