<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assests/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-logo">
          <p><a href="../index.html">DEVWEB.</a></p>
        </div>
        <!--NAV-LOGO-->
        <div class="nav-menu">
          <ul>
            <li><a href="../index.html" class="link active">Home</a></li>
            <li><a href="sobre.html" class="link">Sobre</a></li>
            <li><a href="endereco.html" class="link">Endereço</a></li>
            <li><a href="cadastro.html" class="link">Cadastro</a></li>
            <li><a href="login.html" class="link">Login</a></li>
          </ul>
        </div>
        <!--NAV-MENU-->
        <div class="nav-menu-btn">
          <i class="bx bx-menu"></i>
        </div>
        <!--NAV-MENU-BTN-->
      </nav>
      <!--NAV-->
      <main>
        <h1 class="testep">FACULDADE IMPACTA</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.7240100080253!2d-46.645331124109426!3d-23.578353762217844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a36ed390d1b%3A0x774f96e1ad521edb!2sFaculdade%20Impacta!5e0!3m2!1spt-BR!2sbr!4v1710540765688!5m2!1spt-BR!2sbr" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </main>
    </div>
  </body>
</html>